@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Vidly App.</h1>
    <p class="lead">Vidly is a video rental application built with <strong>ASP.NET MVC</strong> web framework for building great Web applications.</p>
    <p>
        <a href="./account/register" class="btn btn-primary btn-large">Get started &raquo;</a>
        <a href="./home/about" class="btn btn-default btn-large">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Movies</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="./account/register">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Customers</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="./account/register">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Update Profile</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="./account/login">Learn more &raquo;</a></p>
    </div>
</div>